@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Nunito Sans Variable", sans-serif;
    width: 100%;
    height: auto;
  }
}

@layer components {
  html,
  body {
    @apply bg-white

  
    /* @media (prefers-color-scheme: dark) {
      color-scheme: dark;
    } */;
  }

  .custom-swiper {
    @apply flex justify-center w-full;
  }
  .custom-swiper .swiper-wrapper {
    @apply flex justify-center bg-black;
  }

  .custom-swiper .swiper-slide {
    @apply transition-transform duration-300 opacity-70 w-2/4;
  }
}

@layer utilities {
  .swiper-nav-small {
    --swiper-navigation-size: 30px;
  }
}
